<div class="flat-show">
  <div class="container flat-container">
    <div class="d-flex row">
      <div class="col-8">
        <div class="box-details mb-4">
          <h2><%= @flat.name %></h2>
          <h4>Local: <%= @flat.address %></h4>
        </div>
        <div class="box-details mb-4">
          <h3>More about this flat...</h3>
          <p><%= @flat.description %></p>
        </div>
        <div class="box-details mb-4">
          <h3>Details:</h3>
          <div class="d-flex justify-content-around">
            <div class="d-flex align-items-center guests">
              <p>Capacity:</p>
              <i class="fa-solid fa-user-group ms-4"></i>
              <div class="guests_number"><%= @flat.number_of_guests %></div>
            </div>
            <div class="d-flex align-items-center price">
              <p>Price per night:</p>
              <i class="fa-solid fa-yen-sign ms-4"></i>
              <div class="price_value"><%= @flat.price_per_night %></div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="d-flex edit-btn">
            <%= link_to edit_flat_path(@flat) do %>
              <i class="fa-regular fa-pen-to-square" style="color: #0aa2c0"></i>
            <% end %>
            <%= button_to flat_path(@flat), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-flats" do %>
              <i class="fa-solid fa-trash-can" style="color: #dc3545;"></i>
            <% end %>
          </div>
          <%= link_to 'Back to All Flats', flats_path, class: "btn btn-secondary"%>
        </div>
      </div>
      <div class="col">
        <div class="box-details">
          <h3>Book this place!</h3>
          <%= simple_form_for [@flat, @booking], html: { class: 'form-horizontal' }, local: true do |form| %>
            <div class="ms-4">
              <div class="form-group">
                <%= form.label :booked_from, "Start Date", class: "control-label mt-2" %>
                <div class="col-sm-10">
                  <%= form.date_field :booked_from, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <%= form.label :booked_until, "End Date", class: "control-label mt-2" %>
                <div class="col-sm-10">
                  <%= form.date_field :booked_until, class: "form-control" %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <%= form.submit "Book", class: "btn btn-primary mt-4" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="box-details mt-4">
          <h3>Share</h3>
          <div class="d-flex social-media justify-content-around my-4">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-solid fa-envelope"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .flat-show {
    background-image: url('<%= @flat.picture_url %>');
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flat-container {
    margin-top: 500px;
  }
  .box-details {
    background: #eff1f4;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  }

  .box-details h4 {
    color: #6c757d;
    font-size: 1.2rem;
  }

  .box-details p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .social-media i {
    font-size: 3rem;
    color: #0aa2c0;
  }
</style>