<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <i class="fa-brands fa-airbnb"></i>
    <% end %>
    <div class="d-flex">
      <%= form_with(url: flats_path, method: :get, local: true, class: "d-flex ms-2") do %>
        <%= text_field_tag :query, params[:query], class: "form-control me-2", placeholder: "Search flats" %>
        <%= submit_tag "Search", class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
      <%= link_to 'Add Flat', new_flat_path, class: "ms-2 btn btn-info"%>
    </div>
  </div>
</nav>
<style>
  nav {
    padding: 50px;
    background: #e9ecef;
  }

  nav i {
    font-size: 3rem;
  }
</style>